body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    font-size: 3.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#message {
    height: 1em;
    margin-bottom: 1em;
}

table td {
    font-weight: bold;
    text-align: center;
    height: 1.2em;
    width: 1.2em;
    border: 1px solid black;
}

.missing-letter {
    background-color: gray;
}

.present-letter {
    background-color: wheat;
}

.correct-letter {
    background-color: limegreen;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    font-size: 1rem;
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  #keyboard {
    margin-top: 16px;
    user-select: none;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

button {
    height: 2.4em;
    width: 2.4em;
    margin: 0.1em;
    border-radius: 0.1em;
    border: none;
    background-color: #d3d6da;
    font-size: 0.4em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:focus {
    outline:0;
}

.one-and-a-half {
    flex: 1.5;
}